accelerate
click
ftfy
gradio
huggingface_hub
matplotlib
mlflow
numpy
omegaconf
opencv-python
openpyxl
pandas
pillow
requests
regex
scikit-learn
scipy
submitit
sympy
torch>=2.0.0
torchmetrics
torchvision
tqdm
trimesh
utils3d @ git+https://github.com/EasternJournalist/utils3d.git@c5daf6f6c244d251f252102d09e9b7bcef791a38
